/* About.css */
.about {
    position: relative;
    margin-top: 6vh;
  height: 85vh; /* Adjust the height as needed */
  background: url('../assets/headshot 1.jpg') center/cover no-repeat; /* Replace with your actual image path */
  color: white;
  display: flex;
  align-items: center;
  justify-content: left;
}

.about-content {
  position: absolute;
  max-width: 50%; /* Adjust the width of the text overlay */
  padding: 20px;
  color: white;
  background: rgb(101 101 101 / 70%); /* Adjust the background color and opacity as needed */
  text-align: left;
  margin-left: 10vw;
  border-radius: 8px;
}

.about-content h2 {
  margin-bottom: 10px;
}

.about-content p {
    font-size: 1.1rem;
}

/* Additional styles for responsiveness */
@media (max-width: 768px) {
  .about-content {
      max-width: 100%;
      margin: 10px 10px;
      
  }

  .about {
      overflow: auto;
      margin-top: 10vh;
      height: fit-content;
  }
}
